/*Portfolio Style Sheet*/

/*Style Tyle universal styling only*/
h1{
    color:mintcream;
    font-family: "Expletus Sans","Arima Madurai","Spectral","Georgia",sans-serif;
    font-size: 28px;
}
h2{
    color: #14E1FC;
    font-family: "Expletus Sans","Arima Madurai","Spectral","Georgia",sans-serif;
    font-size: 26px;
}
h3{
    color:mintcream;
    font-family: "Expletus Sans","Arima Madurai","Spectral","Georgia",sans-serif;
    font-size: 24px;
}
h4{
    color: #14E1FC;
    font-family: "Kanit","K2D","Epilogue","Cambria",sans-serif;
    font-size: 24px;
}
h5{
    color:mintcream;
    font-family: "Kanit","K2D","Epilogue","Cambria",sans-serif;
    font-size: 20px;
}
p{
    color:mintcream;
    font-family: "Kanit","K2D","Epilogue","Cambria",sans-serif;
    font-size: 18px;
}
ul{
    list-style: none;
    display: flex;
    margin:1%;
   /*background-color: olive;*/
}

*{
    box-sizing: border-box;
}/* ^^W3 says helps layout: includes padding and borders in element sizes for gridding*/

/*Style Tyle universal styling ^^^^^^^^^^^^*/


#bodyDisplay{
    background-color: #1B1B29;

    display: grid;
    /*grid-template-rows:     8.33%       16.67%          66.67%      8.33%   ;*/
    grid-template-rows:     .25fr        2fr             8fr         .75fr     ;
    grid-template-areas:    "topNav"    "bannerQuote"   "bodyMain"  "botNav";
}

#topNav{
    width:100%;
    height: 60px;
    position:fixed;
    z-index: 10;

    grid-area: topNav;
    display: grid;
    grid-template-columns:  1fr     4fr     3fr             5fr;
    grid-template-areas:    "logo   name    nullCenterTop   navButton";
}

.navigation{
    background-image: url("../images/Aurora\ Blur\ Stein\ Egil\ Liland.jpeg");
    background-size: cover;
    background-attachment: fixed;
    opacity: 90%;
}/*sets the header/footer picture and style*/


.list-format{
    width: 100px;
    margin-top: -20px;
    transform: translate(10%,0px);
}
.list-format:hover{
    text-shadow: 0px 4px 12px #0a8dca;
    transition: 0.2s;
}

.inline-block{
    display: inline-block;
    vertical-align: middle;
}

/*topNav grid area declarations*/
#logo{
    width:20%;
    margin:2%;
    float: left;
    margin-right: 10%;
    opacity: 100% !important; /*doesn't currently work*/
    border-radius: 4%;
    z-index: 8;

    display: grid;
    grid-area: logo;
    position: absolute;
    transform:translate(0px,-8px);

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
}
#logo:hover{
    width: 89%;
    /*transform: translate(-48px,-20px);*/

}
#name{
    width: 300px;
    margin: 5%;
    
    grid-area: name;
    transform: translate(60px,0px);
}
#nullCenterTop{
    grid-area: nullCenterTop;
}
#navButton{
    grid-area: navButton;
    padding: 1px;
}
/*topNav grid area declarations^^^^^^^^^^^^^*/

/*all things bannerQuote*/
#bannerQuote{
    grid-area: bannerQuote;
    text-align: center;
    padding-top: 2%;
}

#hQuote{
    padding-bottom: 0px auto;
    cursor:pointer;
}
#hQuote:hover{
    text-shadow: 0px 4px 12px #0a8dca;
    transition: 0.2s;
}
#hAuthor{
    margin-top: 0px auto;
}
/*all things bannerQuote^^^^^^^^^^^^^^^^^^^^*/


/*bodyMain declarations*/
#bodyMain{
    width:100%;
    text-align: center;
    
    display: grid;
    grid-area: bodyMain;
    grid-column-gap: 0.5%;
    grid-row-gap:    0.5%;

    /*grid-template-columns:  1fr         4fr             1fr         5fr         1fr       ;*//*pre-feedback*/
    grid-template-columns:  .5fr         5.5fr             .5fr         5fr         .5fr       ;
    grid-template-areas:    "nullLeft   detailColumn    nullCenter  heroSpace   nullRight";
}

.bodyColumn{
    margin: 0px;
    display: grid;
}

#nullLeft{
    grid-area: nullLeft;
}
#detailColumn{
    grid-area: detailColumn;
}
#nullCenter{
    grid-area: nullCenter;
}
#heroSpace{
    grid-area: heroSpace;
    display: grid;
    /*box-shadow: 0px 0px 100px #11c6e6 inset;*/

    /*grid-template-columns:  2fr 1fr 2fr;
    grid-template-rows:     3fr .5fr 2fr;*/
    grid-template-columns:  40% 20% 40%;
    grid-template-rows:     50% 10% 40%;
    grid-template-areas:
        "heroPic heroPic heroPic"
        "heroText heroText heroText"
        "heroStatLeft heroStatGap heroStatRight";
}
#nullRight{
    grid-area: nullRight;
}
/*bodyMain grid declarations^^^^^^^^^^^^^^^^^^^^^^*/


/*card declarations*/
.card{
    background-color: rebeccapurple;
    text-align: justify;
    height: 200px;
    border-radius: 2%;

    padding-left:2%;
    padding-right:2%;

    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 20% 80%;
    grid-template-areas:    "cardTitle cardPic"
                            "cardDetails cardPic";
    grid-column-gap: 4%;
    grid-row-gap:    2%;
}
.card:hover{
    box-shadow: 0px 4px 12px 2px rgba(20, 225, 252, 0.4);
    transition: 0.2s;
}

.cardTitle{
    grid-area: cardTitle;
    margin-bottom: 1px;
    height:30px;
    overflow: hidden;
}
.cardDetails{
    grid-area: cardDetails;
    margin-top: 10%;
    overflow:hidden;
}
.cardPic{
    width: 80%;
    margin:2%;
    text-align: center;
    grid-area: cardPic;

    border-radius: 4%;
}

#cardDASNW{
    /*for js targeting*/
}
#cardLegacy{
    /*for js targeting*/
}
#cardHGem{
    /*for js targeting*/
}
/*card declarations^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*heroSpace declarations*/
#heroPic{
    width:800px;
    height:450px;
    /*width: 250%;*/ /* >100 to span its div's 3 columns*/
    border-radius: 4%;
    border-style:ridge;
    border-color: #4d0463;
    border-bottom-width: thick;
    border-top-width: thick;
    border-right: 0px;
    border-left: 0px; /*this chunk is all border control*/

    grid-area: heroPic;
    transform: translate(5%,0px); /*manual alignments!*/
    z-index: -1; /*somewhere along border creation, heroPic started trumping topNav*/
}
#heroPic:hover{
    box-shadow: 0px 4px 12px 2px rgba(20, 225, 252, 0.4);
    transition: 0.2s;
}
#heroRef{
    /*for js targeting*/
}

#heroText{
    grid-area: heroText;
    z-index: 0;
}

#heroStatLeft{
    grid-area: heroStatLeft;
    margin: 4%;
}
#heroStatGap{
    grid-area: heroStatGap;
}
#heroStatRight{
    grid-area: heroStatRight;
    margin: 4%;
}

.statIcon{
    width: 80px;
    position: absolute;
    transform:translate(-38px,0px);

    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
}

.statIcon:hover{
    width: 100px;
    transform: translate(-48px,-20px);
}
/*heroSpace declarations^^^^^^^^^^^^^^^^^^^^^^^^^^*/

#botNav{
    text-align: right;
    grid-area: botNav;
    align-items: end;
}

.socialIcon{
    width: 42px;
    margin: 2%;
    position: absolute;
    transform: translate(-180px,-10px);
    
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
}
.socialIcon:hover{
    width: 60px;
    transform: translate(-187px,-17px);
}
/*need a specific override to parse absolute positions*/
#social2{
    transform: translate(-100px,-10px);
}
#social2:hover{
    transform: translate(-107px,-17px);
}

/*Mobile*/
@media all and (max-width: 1000px){
    
    #bodyDisplay{
        grid-template-rows:     100px       125px            1600px      100px     ;
        grid-template-areas:    "topNav"    "bannerQuote"   "bodyMain"  "botNav";
    }

    #topNav{
        height: 120px;

        grid-template-rows:     1fr;
        grid-template-columns:  1fr         1fr         3fr        ;
        grid-template-areas:    "logo       name        navButton  ";
    }
    
    #bodyMain{
        /*width:100%;
        text-align: center;
        
        display: grid;
        grid-area: bodyMain;
        grid-column-gap: 0.5%;
        grid-row-gap:    0.5%;*/

        grid-template-rows:     .25fr         3fr          .25fr            6fr             .25fr        ;
        grid-template-areas:    "nullLeft"  "heroSpace"  "nullCenter"   "detailColumn"  "nullRight";
    }
    
    .cardPic{
        width: 70%;
        /*margin:2%;
        text-align: center;
        grid-area: cardPic;*/
    }
}