/*Portfolio Style Sheet*/

/*desired fonts don't seem to work atm*/
h1{
    color:mintcream;
    font-family: "Expletus Sans","Arima Madurai","Spectral","Georgia",sans-serif;
}
h2{
    color: #14E1FC;
    font-family: "Expletus Sans","Arima Madurai","Spectral","Georgia",sans-serif;
}
h3{
    color:mintcream;
    font-family: "Expletus Sans","Arima Madurai","Spectral","Georgia",sans-serif;
}
h4{
    color: #14E1FC;
    font-family: "Kanit","K2D","Epilogue","Cambria",sans-serif;
}
h5{
    color:mintcream;
    font-family: "Kanit","K2D","Epilogue","Cambria",sans-serif;
}
p{
    color:mintcream;
    font-family: "Kanit","K2D","Epilogue","Cambria",sans-serif;
}
ul{
    list-style: none;
    display: flex;
    margin:1%;
   /*background-color: olive;*/
}

.navigation{
    background-image: url("../images/Aurora\ Blur\ Stein\ Egil\ Liland.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.top-nav{
    width:73%;
    padding:1%;
    position:fixed;
}

.bot-nav{
    text-align: right;
}

.list-format{
    width: 100px;
}

.inline-block{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    width:13%;
    margin:3%;
    float: left;
    margin-right: 10%;
}

.body-left{
    display:inline-block;
    width:30%;
    text-align: center;
}

.body-right{
    float:right;
    width:70%;
    text-align: center;
}

.card{
    background-color: rebeccapurple;
    text-align: justify;
    margin-left: 2%;
    padding-left:2%;
    padding-right:2%;
}

.card-pic{
    width: 120px;
    height: 120px;
}

.hero-pic{
    width:800px;
    height:450px;
    padding: 2%;
}
